# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug {{ network_ipv4_interface }}
iface {{ network_ipv4_interface }} inet static
    address {{ network_static_address }}/24
    gateway {{ network_gateway_address }}

iface {{ network_ipv4_interface }} inet6 auto
